@model LoginViewModel

<form asp-action="Login" asp-controller="Account" method="post">

    <input type="text" asp-for="Email"/>

     <input type="text" asp-for="Password"/>

     <input type="submit" value="Save"/>

</form>